* {
    margin:0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #2b2f32;
    width: 300px;
    margin: 30px;
}

.header__list {
    text-decoration: none;
    padding: 5px;
    margin: 8px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-radius: 30px;
    list-style: none;

}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header__list:hover {
     background-color: #202427;
}
